/**--Photo by Paul Volkmer on Unsplash--!**/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Droid Sans', sans-serif;
  color: #FFFD00;
  background-image: url("../Pics/StarBackground.jpg");
  background-size: 100% 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
}

form {
  max-width: 300px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

h2 {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 24px;
}

input[type="text"],
input[type="email"] {
  background: #000;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #FFFD00;
  color: #000;
  box-shadow: 0 1px 0 #000 inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  color: #FFFD00;
}

button {
  padding: 20px 40px 20px 40px;
  color: #000;
  background-color:#FFFD00;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #FFFD00;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 #FFFD00 inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.bio-text {
  font-weight: 300;
  display: inline;
}

footer {
  max-width: 300px;
  text-align:center;
  margin: 30px auto;
  position:relative;
  margin-bottom: 75px;
}

.footer-text {
  position:absolute;
  left: 30%;
  right: 30%;
}

.facebook {
  position:absolute;
  left: 15%;
  height: 40px;
  width: 40px;
}

.twitter {
  position:absolute;
  right: 15%;
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 480px) {

  body {
    max-width: 480px;
  }
  
  form {
    max-width: 480px;
  }

  footer {
    max-width: 480px;
  }

}
