/**--Photo by Paul Volkmer on Unsplash--!**/

/**--box sizing normalization--!**/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/**--body content sizing, font and setting background as image--**/
#overlay {
  background-color: rgba(0 0 0 0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
}
.text-body {
  display:block;
  font-family: 'Carrois Gothic', sans-serif;
  color: #FFFD00;
  background-image: url("../Pics/StarBackground.jpg");
  background-size: 100% 100%;
  margin: 10px auto;
  padding: 20px 20px;
}
/**--main heading formatting--**/
h1 {
  margin: 0 0 10px 0;
  padding: 15px 0 10px 0;
  text-align: center;
}
/**--secondary heading formatting--**/
h2 {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 24px;
  padding: 10px 0 0 0;
}

h3 {
  text-align:center;
}
.nav-link {
  color:#FFFD00
}
/**--form text box input formatting--**/
input[type="text"],
input[type="email"] {
  background: #000;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #000;
  box-shadow: 0 1px 0 #000 inset;
  margin-bottom: 30px;
}
/**--form radio and checkbox formatting--**/
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  color: #FFFD00;
}
/**--form submit button formatting--**/
button {
  padding: 20px 40px 20px 40px;
  color: #000;
  background-color:#FFFD00;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #FFFD00;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 #FFFD00 inset;
  margin-bottom: 10px;
}
#stickyheader {
  background-color:rgb(190, 14, 14)!important;
}
#aboutnav {
  color: rgb(255, 255, 255);
}
#indexnav {
  color: rgb(255, 255, 255);
}
#subscribenav {
  color: rgb(255, 255, 255);
}
/**--form fields formatting--**/
fieldset {
  margin-bottom: 30px;
  border: none;
}
/**--first level form options formatting--**/
label {
  display: block;
  margin-bottom: 8px;
}
/**--second level form options formatting--**/
label.light {
  font-weight: 300;
  display: inline;
}
/**--main page paragraphing formatting--**/
.news-text {
  font-weight: 300;
  display: inline;
}
.audiodiv {
  display: table;
  margin: 15px auto;
}
/**--about page paragraphing formatting--**/
.bio-text {
  font-weight: 300;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
/**--high level footer formatting--**/
footer {
  max-width: 300px;
  text-align:center;
  margin: 30px auto;
  position:relative;
  margin-bottom: 20px;
  clear:both;
  padding: 0 0 20px 0;
}
/**--footer text formatting--**/
.footer-text {
  position:absolute;
  left: 30%;
  right: 30%;
}
.firstimage {
  padding: 30px 0 50px 0;
  float:left;
}
.secondimage {
  padding: 30px 0 50px 0;
  float:right;
}
/**--facebook image formatting--**/
.facebook {
  position:absolute;
  left: 15%;
  height: 40px;
  width: 40px;
}
/**--twitter image formatting--**/
.twitter {
  position:absolute;
  right: 15%;
  height: 40px;
  width: 40px;
}
.maintitle {
  color: rgb(255, 255, 255);
}

/**--media queries for responsive design--**/
@media screen and (min-width: 480px) {
/**--body sizing on larger screens--**/
  body {
    max-width: 480px;
  }
/**--footer sizing on larger screens--**/
  footer {
    max-width: 480px;
  }
  .navbar-collapse {
     width: auto;
 }
 .text-body {
  padding: 80px 20px;
  margin: 20px auto;
 }
}
